################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj.NetCore.Desktop
/obj
/bin.NetCore
/.vs/WindowedDocumentUIService.NetCore.Desktop/v16
